* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('img1.jpg');
    background-size: cover; 
    background-repeat: no-repeat;
}

div {
    background-color: lightblue;
    display: flex;
    width: min-content;
    flex-direction: column;
    padding: 50px;
    border-radius: 5px;
    row-gap: 20px;
    border: 2px solid white;
}

.links {
    background-color: white;
    border-radius: 10px;
    border: 2px dashed white;
    display: inline-flex;
    padding: 20px;
    margin: 20px 0px;
}

button {
    border: 2px solid white;
    border-radius: 10px;
    font-size: medium;
    padding: 5px 10px;
    width: 200px;
    color: rgb(24, 24, 24);
    background-color: white;
}

button:hover{
    font-weight: bold;
    background-color: whitesmoke;
}

a {
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
}

.party-button {
    background-color: lightpink;
    color: white;
    font-weight: 500;
}

.party-button:hover {
    background-color: pink;
}