body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.desktop {
    width: 100vw;
    height: 100vh;
    position: absolute; /*so the desktops overlay each other*/
    transition: transform 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    color: white;
}


#desktop1 { background-color: #007bff; }
#desktop2 { background-color: #28a745; }
#desktop3 { background-color: #ffc107; }
#desktop4 { background-color: #dc3545; }